<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Madlib homepage</h1>
    <a href="/form"><button>Mad Lib #1</button></a>
    <a href="/form2"><button>Mad Lib #2</button></a>
    <a href="/form3"><button>Mad Lib #3</button></a>
  </body>
</html>